body {
  background-color: #222;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
  padding-top: 40px;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  gap: 4px;
  margin-top: 20px;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: #333;
  border-radius: 5px;
  transition: background 0.2s;
}

.cell.filled {
  background-color: #f39c12;
}