body {
  background-color: #222;;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
  padding-top: 40px;
}

h1 {place-content: center;}

.board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  gap: 4px;
  margin-top: 20px;
}

.boardCell {
  width: 50px;
  height: 50px;
  background-color: #333;
  border-radius: 5px;
  transition: background 0.2s;
}

.boardCell.filled {
  box-shadow: inset -2px -2px 6px rgba(0,0,0,0.4),
              inset 2px 2px 6px rgba(255,255,255,0.6),
              0 2px 4px rgba(0,0,0,0.4);
  transform: scale(0.98);
  transition: transform 0.1s ease-in-out;
}

.boardCell.filled.color-1 { background-color: green !important; }
.boardCell.filled.color-2 { background-color: rgb(0, 128, 255) !important; }
.boardCell.filled.color-3 { background-color: darkorange !important; }
.boardCell.filled.color-4 { background-color: purple !important; }
.boardCell.filled.color-5 { background-color: red !important; }
.boardCell.filled.color-6 { background-color: gold !important; }
.boardCell.filled.color-7 { background-color: palevioletred !important; }

.pieces-area {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}

.piece {
  display: grid;
  place-content: center;  /* This will stop the horizontal space in the shape*/
  gap: 4px;
  cursor: grab;
  padding: 10px;
  border-radius: 6px;
}

.piece.empty {
  width: 80px;
  height: 60px;
  opacity: 0.2;
}

.block {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.block.filled {
  box-shadow: inset -2px -2px 6px rgba(0,0,0,0.4),
              inset 2px 2px 6px rgba(255,255,255,0.6),
              0 2px 4px rgba(0,0,0,0.4);
  transform: scale(0.98);
  transition: transform 0.1s ease-in-out;
}

.block.filled.color-1 { background-color: green !important; }
.block.filled.color-2 { background-color: rgb(0, 128, 255) !important; }
.block.filled.color-3 { background-color: darkorange !important; }
.block.filled.color-4 { background-color: purple !important; }
.block.filled.color-5 { background-color: red !important; }
.block.filled.color-6 { background-color: gold !important; }
.block.filled.color-7 { background-color: palevioletred !important; }

/* Valid ghost preview */
.ghost-valid.color-1 { background-color: green !important; }
.ghost-valid.color-2 { background-color: rgb(0, 128, 255) !important; }
.ghost-valid.color-3 { background-color: darkorange !important; }
.ghost-valid.color-4 { background-color: purple !important; }
.ghost-valid.color-5 { background-color: red !important; }
.ghost-valid.color-6 { background-color: gold !important; }
.ghost-valid.color-7 { background-color: palevioletred !important; }

/* Invalid placement preview */
.ghost-invalid {
  animation: flashRedWhite 0.5s infinite;
}

@keyframes flashRedWhite {
  0% { background-color: transparent;}
  50% { background-color: rgba(255, 0, 0, 0.45)}
  100% { background-color: transparent;}
}

.clearing {
  animation: popFade 0.3s ease-out forwards;
}

@keyframes popFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.3);
    opacity: 0;
  }
}
